<% if flash[:errors] %>
<div class="errors">
  <% flash[:errors].each do |e| %>
  <p class="text-danger"><%= e %></p>
  <% end %>
</div>
<% end %>

<div class="row">
  <div id="registratiion" class="col-md-6">
    <h1>register</h1>

    <%= form_for @user do |f| %>
    <div class="form-group">
      <%= f.label :name %>: <%= f.text_field :name %>
    </div>
    <div class="form-group">
      <%= f.label :email %>: <%= f.email_field :email %>
    </div>
    <div class="form-group">
      <%= f.label :password %>: <%= f.password_field :password %>
    </div>
    <div class="form-group">
      <%= f.label :password_confirmation %>: <%= f.password_field :password_confirmation %>
    </div>
    <%= f.submit %> <% end %>

    <!-- <form action="/users" method="POST">
      <input
        type="hidden"
        name="authenticity_token"
        value="<%= form_authenticity_token%>"
      />
      <div class="form-group">
        <label>Name </label>
        <input type="text" class="form-control" />
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input
          type="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
        />
        <small id="emailHelp" class="form-text text-muted"
          >We'll never share your email with anyone else.</small
        >
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input
          type="password"
          class="form-control"
          id="exampleInputPassword1"
        />
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Confirm Password</label>
        <input
          type="password"
          class="form-control"
          id="exampleInputPassword1"
        />
      </div>
      
      <button type="submit" class="btn btn-primary">Submit</button>
    </form> -->
  </div>

  <div id="login" class="col-md-6">
    <h1>login</h1>
    <%= form_tag sessions_path do |f| %>
    <div class="form-group">
      <%= label_tag :email %>: <%= email_field_tag :email %>
    </div>
    <div class="form-group">
      <%= label_tag :password %>: <%= password_field_tag :password %>
    </div>
    <%= submit_tag "Sign In" %> <% end %>
  </div>
</div>
