<title><% content_for(:title,"Player Index") %></title>
<h1>this is the view file coming from the players controller Index method</h1>
<h1><%= pluralize(@player.length,'player')%> in league</h1>

<table>
    <thread>
        <tr>
            <td><strong>First name</strong> &nbsp;</td>
            <td><strong>Last name</strong> &nbsp;</td>
            <td><strong>Actions</strong> &nbsp;</td>
            <td><strong>Edit</strong> &nbsp;</td>
            <td><strong>Delete</strong> &nbsp;</td>

        </tr>
    </thread>
    <tbody>
        <tr>
            <% @player.each do |player| %>
        <tr>
            <td>&nbsp;<i><%= player.first_name%> </i>&nbsp;</td>
            <td>&nbsp;<%= player.last_name%>&nbsp;</td>
            <td>&nbsp;<%= link_to  "Show Profile", player_path(player.id) %>&nbsp; </td>

            <td>&nbsp; <%= link_to  "Edit Player", edit_player_path(player.id) %> &nbsp; </td>
            <td>&nbsp; <%= link_to  "Delete Player", "/players/#{player.id}", data: {method: :delete, confirm:"Are you sure, you want to delete profile" } %> &nbsp; </td>

        </tr>
        <%end%>
        </tr>
    </tbody>
</table>

<h1>
    <%= link_to  "Add profiles", new_player_path %>
        <%= link_to  "logout profiles", "/logout" %>

</h1>