

<%= content_for(:title,"it's  profile") %>
<h1> this is the <%= @player.first_name%> player profile page </h1>
<table>
    <thread>
        <tr>
            <td>first name &nbsp;</td>
            <td>last name &nbsp;</td>
        </tr>
    </thread>
    <tbody>
        <tr>
            <td><%= @player.first_name%> &nbsp;</td>
            <td><%= @player.last_name%> &nbsp;</td>
        </tr>
    </tbody>
</table>
<h1>
<%= link_to  "Go Back to players!", players_path %>
</h1>